body{
	font-family: 'Open Sans', serif;
	font-size: 17px;
	background-color: white;
}

#navbar
ul{
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	word-spacing: 15px;
	font-size: 15px;
}
ul li{
	
	display: inline;
}
ul li a{
	text-decoration: none; 
}

#center_piece
p{

	font-size: 35px;
}

#home_image
{
	

}

#left_title
p{
	font-size: 25px;

}

#pictures
{
	
}

#vinyl
{
	/*
		note: setting pos. to absolute allows
		to move image anywhere in the page
	*/
	position: relative;
	top: 90px;
}

